.analysis-main {
  padding: 2rem 1rem;
}
.reference-list {
  counter-reset: list;
}
.reference-list > li {
  list-style: none;
}
.reference-list > li:before {
  content: "[" counter(list) "] ";
  counter-increment: list;
}
.text-comment {
  font-style: italic;
  color: var(--text-faded);
}
