@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

@font-face {
  font-family: MuseoSans_500;
  src: url("../fonts/MuseoSans_500.otf") format("otf"),
    url("../fonts/MuseoSans_500-webfont.woff2") format("woff2"),
    url("../fonts/MuseoSans_500-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
